# Backend
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc
*.db
*.sqlite3
*.sqlite
.env
.env.*
!.env.example
venv/
env/
.venv/
recordings/

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db
